<div  class="navigation-header-tabs-container mat-elevation-z1">
  <div class="navigation-header-tabs-container__icons">
    <a [routerLink]="'para-mi'" mat-button disableRipple="true" role="navigation">
      <mat-icon>person</mat-icon>
    </a>
    Para mi
  </div>
  <div [routerLink]="'colega'" class="navigation-header-tabs-container__icons">
    <a mat-button disableRipple="true"  role="navigation">
      <mat-icon>people</mat-icon>
    </a>
    Colega
  </div>
  <div [routerLink]="'invitado'" class="navigation-header-tabs-container__icons">
    <a mat-button disableRipple="true"  role="navigation">
      <mat-icon>person_add</mat-icon>
    </a>
    Invitado
  </div>

</div>
