.navigation-header-tabs-container {
  cursor: pointer;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 87%;
  position: relative;
  top: -5vh;
  margin-left: 6%;
  height: 16%;
  border-radius: 5px;
  background-color: #ffffff;
  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
