@import "~@angular/material/theming";

$mi-aguila: (
  50 : #e7f9f3,
  100 : #c4f0e0,
  200 : #9de6cc,
  300 : #76dbb8,
  400 : #58d4a8,
  500 : #3bcc99,
  600 : #35c791,
  700 : #2dc086,
  800 : #26b97c,
  900 : #19ad6b,
  A100 : #e2fff1,
  A200 : #afffd9,
  A400 : #7cffc0,
  A700 : #63ffb4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
