.container-navigation {
  margin-top: 12vh;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: #ffffff;
  width: 94vw;
  &__blue-line {
    width: 100%;
    height: 7vh;
    background-color: #fff000;
  }

  &__router {
    padding: 0 17px 17px;
  }

}
