<div class="container">
  <mat-card class="card-container">
    <mat-card-header>
       <img mat-card-avatar src="assets/logo/eagle.png">
      <mat-card-title>Autenticación</mat-card-title>
      <mat-card-subtitle>Iniciar sesión en la plataforma de mi agila trip</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field eagleControlErrorContainer class="card-container__form-field width-100">
          <mat-label aria-labelledby="Email">E-mail</mat-label>
          <input type="email"  formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field eagleControlErrorContainer class="card-container__form-field width-100">
          <mat-label aria-labelledby="Contraseña">Contraseña</mat-label>
          <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <button
          role="button"
          class="card-container__btn width-100"
          color="primary"
          type="submit"
          mat-raised-button>
          Iniciar sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
